<nav class="py-3">
  <ul class="flex space-x-3 justify-center">
    <li>
      <a href="{{ route('page.show', {slug: 'a-propos'}) }}">A propos</a>
    </li>
    <li>
      <a href="{{ route('exercises.index') }}">Exercices</a>
    </li>
    <li>
      <a href="{{ route('users.index') }}">Utilisateurs</a>
    </li>
    <li>
      <a href="{{ route('auth.register.show') }}">Register</a>
    </li>
  </ul>
</nav>
