@layout()
  <form action="{{route('exercise.addToPractice', {id: exercise.id})}}" method="POST">
    {{ csrfField() }}
    <input type="hidden" name="duration" value="600"/>
    <button type="submit" class="btn btn-primary">Add to Practice</button>
  </form>
  <h1 class="text-xl font-bold">
    {{ exercise.title }}
  </h1>
  {{ exercise.content }}
@end
