<ul id="favorites">
  @each(activity in auth.user.favorites)
    <li>
      @favorites.item({activity})
        <form
          method="post"
          action="{{ route('favorites.remove', {id: activity.id}, {qs: {_method: 'DELETE' }}) }}"
        >
          {{ csrfField() }}
          @ui.button({variant: 'outline'})
            @svg('heroicons:x-mark')
          @end
        </form>
      @end
    </li>
  @end
</ul>
