<ul id="notifications_list" class="divide-y">
  @each(notification in notifications)
    <li class="hover:bg-primary-foreground">
      @if(notification.type === CommentableType.Comment)
        @!notifications.comment({notification})
      @else
        @!notifications.mention({notification})
      @end
    </li>
  @end
</ul>
