@layout()
  <section class="container">
    <header class="my-6">
      <h1 class="text-3xl">
        Modifier l'activité
      </h1>
    </header>
    @!activities.form({activity})
  </section>
@end
