<div class="flex space-x-6 min-w-0 relative items-center p-4">
  <div class="flex-1 flex space-x-6 items-center min-w-0">
    <div class="hidden flex-shrink-0 md:block">
      {{ utils.secondsToTime(item.duration) }}
    </div>
    <div class="flex-1 min-w-0">
      {{ item.exercise.title }}
    </div>
  </div>
  <div>
    {{{ await $slots.main() }}}
  </div>
</div>
