@layout()
  <header class="bg-secondary py-6 mb-6">
    <div class="container flex space-x-3">
      <div class="flex-1">
        <h1 class="text-3xl">
          Dashboard
        </h1>
      </div>
    </div>
  </header>
  <section>
    <h2 class="">
      Stats
    </h2>
    <div class="flex space-x-3">
      <div class="">
      </div>
      <div class="">
      </div>
      <div class="">
      </div>
    </div>
  </section>
@end
